<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}League of Gods{% endblock %}</title>
    </head>
    <body>
        <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'logout'|trans({}, 'FOSUserBundle') }}
        </a><br/><br/>
        
       {% block content %}{% endblock %}
    </body>
</html>